[submodule "ros/src/shimmy_bot"]
	path = ros/src/shimmy_bot
	url = https://github.com/opendedup/shimmy_bot.git
[submodule "ros/src/linorobot2"]
	path = ros/src/linorobot2
	url = https://github.com/opendedup/linorobot2.git
	branch = humble
